* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  height: 100vh;
}

h1 {
  margin-top: 10px;
}

button {
  margin: 10px 0px;
}

#info {
  width: 250px;
  height: 40px;
  margin: 25px;
  text-align: center;
}

#playerDiv,
#computerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-template-rows: repeat(10, 25px);
  width: 250px;
  height: 250px;
  margin: 10px;
}

.square {
  border: 1px solid rgb(36, 35, 35);
  background-color: rgb(168, 216, 235);
}

.occupied {
  background-color: rgb(36, 56, 56);
}

.hit {
  background-color: red;
  background-size: cover;
  background-image: url("./assets/hit.svg");
}

.miss {
  background-color: rgb(154, 210, 233);
  background-image: url("./assets/waves.svg");
  background-size: cover;
}

#boatsDisplay {
  display: flex;
  flex-direction: column;
}

.boat {
  display: flex;
  flex-direction: row;
  margin: 2px;
  width: max-content;
  height: max-content;
}

.boatSquare {
  width: 25px;
  height: 25px;
  border: 1px black solid;
  background-color: rgb(36, 56, 56);
}

.boatSquare:first-child {
  background-image: url("./assets/move.svg");
  cursor: move;
}

.vertical {
  flex-direction: column;
}
